html {
  overflow: scroll;
  background-color: #FFF;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
}

header, nav, main, footer {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  padding: 20px 0;
  text-decoration: none;
  color: #000;
}

h2 {
    padding: 5px 0;
    font-size: large;
    text-align: center;
    color: chocolate;
}

hr {
    color: lightgray;
}

main {
    margin: 0 auto;
    width: 40em;
    overflow: hidden;
}

ul {
    padding: 0 7%;
    text-align: left;
}

li {
    text-align: justify;    
}

p {
    padding: 0 5%;
    text-align: justify;
}

img {
    margin: 10px auto;
    display: block;
}

button {
    margin: 10px auto;
    display: block;
}

a, a:active, a:visited {
    color: chocolate;
    text-decoration: none;
}

a:hover, a:focus  {
    color: blue;
    text-decoration: underline;
}

.textual {
    margin: 0;
    padding: 0 15%;
    text-align: justify;
    font-size: small;
}

.menu {
    text-align: center;
}

.respuesta {
    margin-top: 40px;
    text-align: center;
}